* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;   
    font-family: 'Poppins', sans-serif;    
}
.home--container {
    display: flex;
    gap: 8rem;
    align-items: center;    
}
.start-button {
    background-image: linear-gradient(to right, rgb(80, 176, 250), rgb(56, 129, 201), lightblue);
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 3px #aaaaaa;
}
.home-caption {
    font-weight: 200;
    font-size: 1.4rem;
}
.start-caption {
    font-weight: 400;
}
.input-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.input-fields {
    border-radius: 10px;
    padding: 5px;
    text-indent: 5px;    
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.table-heading {
    background-color: rgb(30 41 59);
    color: white;
}
.table-data {
    background-color: rgb(241 245 249);
}
.add-button {
    background-color: rgb(2 132 199);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #aaaaaa;
}
.proceed-button {
    background-color: rgb(16 185 129);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #aaaaaa;
}
.delete-button {
    text-decoration: none;
    color: rgb(225 29 72);
}