{% extends 'base.html' %}

{% block content %}
{% load static %}

  <div style="width: 320px; margin-top: 1.5rem;">
    <form method="POST">
      {% csrf_token %}
      <h3 style="margin-bottom: 1rem;">Add Instructor</h3>
      <div class="input-container">
        <label>Teacher ID</label>
        <input type="text" name="uid" class="input-fields" />
      </div>

      <div class="input-container">
        <label>Teacher Name</label>
        <input type="text" name="name" class="input-fields" />
      </div>

      <div class="d-flex align-items-center mt-4 gap-3">
        <button type="submit" class="add-button px-4 py-1">Add</button>
        <input type="button"
          value="Proceed"
          class="proceed-button px-4 py-1"
          onclick="window.location.href='/add-course'"
        />        
      </div>
    </form>
    
  </div>

  {% if all_instructors %}
    <h3 class="mt-5">Instructors</h3>
    <table class="table table-bordered">
      <tr class="table-heading">
          <td>
            <center>ID</center>
          </td>
          <td>
            <center>Name</center>
            </td>
          <td>
            <center>Operations</center>
          </td>
      </tr>
      {% for instructor in all_instructors %}
        <tr class="table-data">
          <td>
            <center>{{ instructor.uid }}</center>
          </td>
          <td>
            <center>{{ instructor.name }}</center>
          </td>
          <td>
            <center><a class="delete-button" href="{% url 'delete-instructor' instructor.id %}"> Delete </a></center>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
