{% extends 'base.html' %}

{% block content %}
  <div style="width: 320px;">
    <form method="POST">
      {% csrf_token %}
      <fieldset>
      <h2>Add Meeting Time</h2>

 
      <div class="tabcontent" id="new">
        {{ form.as_p }}
        <input type="submit" value="Submit" class="submit" />
      </div>
      {% comment %} <button type="submit" class="mt-3 btn btn-success btn-large px-4 py-1">Add</button> {% endcomment %}
    </fieldset>
    </form>
    <button 
        class="mt-1 btn btn-secondary btn-large px-4 py-1"  
        onclick="window.location.href='/generateSchedule'"
    >Generate
    </button>
  </div>

  {% if all_meetingTimes %}
    <h3 class="mt-5">Meeting Times</h3>
    <table class="table table-bordered">
      {% for item in all_meetingTimes %}
        <tr>
          <td>
            <center>{{ item.pid }}</center>
          </td>
          <td>{{ item.start_time }}</td>
          <td>{{ item.end_time }}</td>
          <td>
            <center>{{ item.day }}</center>
          </td>
          <td>
            <center><a href="{% url 'delete-meetingTime' item.pid %}"> Delete</a></center>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
