{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="home--container" style="margin-top:4rem;">
  <div>
    <img src="{% static 'img/home.jpg' %}" alt="Image" style="width:700px"/>
  </div>

  <div class="d-flex flex-column align-items-start gap-2">
    <h3 class="home-caption">Start creating your own time-tables!</h3>
    <h3 class="start-caption">Get Started!</h3>
    <button type="button" class="start-button" onclick="window.location.href='/add-instructor'">Add Instructor</button>
  </div>

</div>

{% endblock %}
