{% comment %} <table>
  {% for item in schedule.classes %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ item.course }}</td>
      <td>{{ item.instructor }}</td>
      <td>{{ item.day }}</td>
      <td>{{ item.time.start_time }}</td>
      <td>{{ item.room }}</td>
    </tr>
  {% endfor %}
</table> {% endcomment %}
<h1>Time-Table</h1>
<table>
  {% for item in timetable %}
    {% comment %} <h3>{{ forloop.counter }}</h3> {% endcomment %}
    <tr>
      {% for it in item %}
        <td>{{ it }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
